body{
    background-color: #D8F8FF;
}

.value{
    height: 150px;
    margin: 5%;
    background-image: linear-gradient(to right, rgb(0, 217, 255) , rgba(243, 98, 246, 0.612));
    border-radius: 2vh;
}

h3{
    color: aliceblue;
    padding: 1%;
    padding-top: 2%;
    letter-spacing: 7px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 35%;
    height: 7vh;
    border: none;
    border-radius: 1vh;
    font-size: 4vh;
    padding-left: 1%;
}

button{
    background-color: rgba(215, 212, 212, 0.71);
    border-radius: 5vh;
    width: 20vh;
    height: 8vh;
    border: none;
    box-shadow: white;
    box-shadow: 0 8px 16px 0 rgba(236, 228, 228,0.19), 0 6px 20px 0 rgba(236, 228, 228,0.19);
}

button:hover{
    box-shadow: 0 4px 8px 0 rgba(241, 241, 241, 0.42), 0px 3px 10px 0px rgba(236, 228, 228, 0.452);
}

.black{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 70%;
    height: 40vh;
}

.container{
    flex-direction: column;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    position: relative;
}

.addition{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20vh;
    width: 20vh;
    font-size: 10vh;
    position: absolute;
}


.addition {
    opacity: 0;
    transform: translate(0vh,20vh);
}
.show {
    opacity: 1;
}

.hide{
    opacity: 0;
}